@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.navbar {
  background-color: rgb(241, 175, 185); /* Blue background */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2rem;
}

.navbar-title {
  font-size: 2rem;
}

.navbar-buttons {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.navbar-buttons a {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar-buttons a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
