
/*body*/

body
{
    font-family: Alegreya, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;

    
}
/*main header*/
h1 
{
    color: #4CAF50;
    text-align: center;
    font-size: 36px;
}

/* additional header styles */

h2,
h3,
h4,
h5,
h6
{
    font-family: inherit;
    color: #333;    
}

/* paragraphs */
p
{
    font-family: Alegreya, sans;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}